<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146633201-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146633201-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="keywords" content="planning, budgeting, income tax, calculator, financial freedom, money, rich, saving, investing, investment, real estate, cashflow, roi">
    <meta name="description" content="Financial tools for smart investors. Reverse-engineer your way to financial freedom. Calculate gross income, capital needed, and cashflow generated.">
    
    <meta property="twitter:site" content="https://antibroke.firebaseapp.com">
    <meta property="twitter:description" content="Financial tools for smart investors. Reverse-engineer your way to financial freedom. Calculate gross income, capital needed, and cashflow generated.">
    <meta property="twitter:title" content="Antibroke Calculators">
    <meta property="twitter:creator" content="Antibroke">
    <meta property="twitter:image" content="<%= BASE_URL %>img/thumbnail.jpg">
    
    <meta property="og:title" content="Antibroke Calculators">
    <meta property="og:description" content="Financial tools for smart investors. Reverse-engineer your way to financial freedom. Calculate gross income, capital needed, and cashflow generated.">
    <meta property="og:site_name" content="Antibroke Calculators">
    <meta property="og:url" content="https://antibroke.firebaseapp.com">
    <meta property="og:image" content="<%= BASE_URL %>img/thumbnail.jpg">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Antibroke</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link rel="manifest" href="./manifest.json">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Antibroke doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>