<template lang="pug">
  v-container(fluid fill-height)
    v-layout.mx-0(
      style="width: inherit;" 
      align-center 
      justify-center 
      row 
      wrap 
      )
      v-flex(xs12 md7 xl5)              
        .mx-auto(style="max-width: 480px;")
          DecorativeUnderline(:color="globalColors.yellow")
          .font-weight-bold(:class="{'display-1': $vuetify.breakpoint.xsOnly, 'display-4': $vuetify.breakpoint.smAndUp}") 
            | {{ header }}
          div(:class="{'title font-weight-regular mt-4': $vuetify.breakpoint.xsOnly, 'display-1 mt-8': $vuetify.breakpoint.smAndUp}") 
            | {{ subheader }}
          Rules(v-if="currentCalculator === 'salary'" @rulesChanged="updateRules").mt-8
          CashflowForm(v-if="currentCalculator === 'cashflow'" @rulesChanged="updateRules").mt-8
      v-flex(xs12 md5 xl5 :class="{'my-8': $vuetify.breakpoint.smAndDown}")
        ResultSalary(v-if="currentCalculator === 'salary'" :rules="rules", :state="stateCode")
        ResultCashflow(v-if="currentCalculator === 'cashflow'")
</template>

<script>
import Rules from "../components/Rules"
import ResultSalary from "../components/ResultSalary"
import CashflowForm from "../components/CashflowForm"
import ResultCashflow from "../components/ResultCashflow"
import DecorativeUnderline from "../components/DecorativeUnderline"

export default {
  components: {
    Rules,
    ResultSalary,
    CashflowForm,
    ResultCashflow,
    DecorativeUnderline
  },
  props: ["stateCode", "currentCalculator"],
  data() {
    return {
      rules: [],
    }
  },
  computed: {
    header() {
      if (this.currentCalculator === "salary") return "Ideal Salary"
      else if (this.currentCalculator === "cashflow") return "Passive Income"
      else return "Misadventure"
    },
    subheader() {
      if (this.currentCalculator === "salary") return "How much do you need to make to achieve your goals?"
      else if (this.currentCalculator === "cashflow") return "What is your magic number to achieve financial freedom?"
      else return "How did you get here?"
    }
  },
  methods: {
    updateRules(list) {
      this.rules = [...list]
    }
  }
}
</script>