<template lang="pug">
  v-card
    v-card-text
      v-form(ref='cashflowForm')
        .text-center.mb-3.mt-2
          v-btn.d-inline-block(
            :text="type === 'cashflow'"
            :dark="type === 'capital'"
            :depressed="type === 'capital'"
            :color="type === 'capital'? globalColors.darkPurple : 'grey'"
            @click="type = 'capital'"
            ) capital
          v-btn.d-inline-block(
            :text="type === 'capital'"
            :dark="type === 'cashflow'"
            :depressed="type === 'cashflow'"
            :color="type === 'cashflow'? globalColors.darkPurple : 'grey'"
            @click="type = 'cashflow'"
            ) cashflow

        .subtitle-1.grey--text.mb-6 {{ typeDescription }}

        v-text-field(
          v-if="type === 'cashflow'"
          :color="globalColors.darkPurple" 
          ref="amount" 
          v-model="amount"
          :rules="[validations.required]" 
          label="Sum to invest" 
          placeholder="500,000"
          prepend-inner-icon="mdi-currency-usd"
          type="number"
          required
          )

        v-layout.mx-0(v-if="type === 'capital'" style="width: inherit;" align-center justify-center row wrap)
          v-flex(xs6).pr-2
            v-text-field.mt-3(
              :color="globalColors.darkPurple" 
              v-model="amount" 
              :rules="[validations.required]" 
              prepend-inner-icon="mdi-currency-usd"
              label='Desired cashflow' 
              placeholder="10,000"
              type="number"
              min=0
              required
              )
          v-flex(xs6).pl-2
            v-select.mt-3(
              :color="globalColors.darkPurple" 
              v-model="cashflowFrequency" 
              :rules="[validations.required]" 
              label='Per' 
              :items="['year', 'month', 'week', 'day']"
              )

        v-text-field.mt-3(
          prepend-inner-icon="mdi-percent" 
          :color="globalColors.darkPurple" 
          v-model="interest" 
          :rules="[validations.required, validations.validPercentage]" 
          label='Annual Interest Rate (%)' 
          placeholder="12.5"
          type="number"
          required
          )

        v-layout.mx-0(v-if="type === 'cashflow'" style="width: inherit;" align-center justify-center row wrap)
          v-flex(xs6).pr-2
            v-text-field.mt-3(
              :color="globalColors.darkPurple" 
              v-model="investmentDuration" 
              :rules="durationUnit !== 'indefinite'? [validations.required] : undefined" 
              label='Investment Duration' 
              placeholder="Ex. 18 Months"
              type="number"
              min=0
              :disabled="durationUnit === 'indefinite'"
              )
          v-flex(xs6).pl-2
            v-select.mt-3(
              :color="globalColors.darkPurple" 
              v-model="durationUnit" 
              :rules="[validations.required]" 
              label='Duration Unit' 
              :items="['days', 'weeks', 'months', 'years', 'indefinite']"
              )
    
    v-card-actions
      v-btn(block :color="globalColors.darkPurple" large dark @click="calculate()") Calculate


</template>

<script>
  export default {
    data: () => ({
      amount: null,
      interest: null,
      type: "capital",
      investmentDuration: null,
      durationUnit: "indefinite",
      cashflowFrequency: "month",
      oneYear: {year: 1, month: 12, week: 52, day: 365},

      validations: {
        required: val => !!val || "This field is required",
        validPercentage: val => (val >= 0 && val <= 100) || "Invalid percentage"
      }
    }),
    mounted() {
      this.$root.$on("startOver", this.resetForm)
    },
    computed: {
      typeDescription() {
        if (this.type === "cashflow") return "Calculate the cashflow yield given an amount to invest and the expected interest rate."
        else if (this.type === "capital") return "Calculate the capital needed to cashflow a desired amount."
        else return "Error"      
      }
    },
    methods: {
      resetForm() {
        this.$refs.cashflowForm.reset()
      },

      assembleInput() {
        let obj = {
            type: this.type,
            amount: this.amount,
            interestRate: this.interest / 100
        }
        if (this.type === "capital") {
          obj["frequency"] = this.cashflowFrequency
        }
        if (this.type === "cashflow" && this.durationUnit !== "indefinite") { 
          obj["duration"] = this.investmentDuration
          obj["durationUnit"] = this.durationUnit
        }
        return obj
      },

      calculate() {
        if (this.$refs.cashflowForm && this.$refs.cashflowForm.validate()) {
          this.$root.$emit("calculateCashflow", this.assembleInput())
        }
      },
    },
  }
</script>