<template lang="pug">
  .container(:class="navItemClasses('none')")
    router-link(v-for="calc in ['Salary', 'Cashflow']" :to="'/' + calc.toLowerCase() + '-calculator'")
      .item(:class="navItemClasses(calc.toLowerCase())") 
        | {{ calc }}
    v-menu(transition="slide-y-transition")
      template(v-slot:activator="{on}")
        .item.with-icon(v-on="on" :class="navItemClasses('none')")
          | {{ currentState.code }}
          v-icon(color="rgba(0, 0, 0, 0.87)") mdi-menu-down
      v-list
        v-list-item(v-for="(option, i) in taxOptions" :key="i" @click="updateState(option)")
          | {{ option.full }}
</template>

<script>
export default {
  props: ["currentCalculator", "currentState"],
  data() {
    return {
      taxOptions: [
        { code: "BC" , full: "British Columbia (BC)" },
        { code: "ON" , full: "Ontario (ON)" },
        { code: "QC" , full: "Quebec (QC)" }
      ],
    }
  },
  methods: {
    navItemClasses(item) {
      let cls = {
        "desktop": this.$vuetify.breakpoint.smAndUp, 
        "mobile": this.$vuetify.breakpoint.xsOnly
      }
      if (this.currentCalculator === item) {
        cls["item-active"] = true
      }
      return cls
    },
    updateState(option) {
      this.$emit("updateState", option)
    }
  }
}
</script>

<style scoped>
a {
  color: rgba(0, 0, 0, 0.87) !important;
}

.container {
  --bg-color: white;
  background-color: var(--bg-color);
  box-shadow: 0 10px 28px 0 rgba(0,0,0,.2);
  position: -webkit-fixed;
  position: fixed;
  padding: 0 12px;
  z-index: 200;
}

.container.desktop {
  height: var(--navbar-desktop-height);
  width: 335px;
  border-radius: 4px;
  left: calc(100vw - 335px - 48px);
  top: 36px;
}

.container.mobile {
  height: var(--navbar-mobile-height);
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.item {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 8px;
  letter-spacing: 0.0892857143em;
  display: inline-block;
  border-bottom: 0px solid var(--theme-color);
  transition: all .15s ease-in-out;
  cursor: pointer;
}

.item.desktop {
  padding: 0 16px;
  height: var(--navbar-desktop-height);
  line-height: var(--navbar-desktop-height);
}

.item.mobile {
  padding: 0 8px;
  height: var(--navbar-mobile-height);
  line-height: var(--navbar-mobile-height);
}

.item:not(.with-icon):hover, .item-active {
  border-bottom: 5px solid var(--theme-color);
  color: var(--theme-color);
}

</style>