<template lang="pug">
div#res
  v-slide-y-reverse-transition
    v-card.mx-auto.elevation-22(:width="boxSize" v-if="showResults")
      .py-custom
        div.mx-auto(style="width: fit-content; width: -moz-fit-content; width: -webkit-fit-content;")
          .caption.mb-3 {{ result.header }}
          .display-2.font-weight-medium CAD
          .display-3.font-weight-medium(:class="{'display-3': $vuetify.breakpoint.smAndUp, 'display-2': $vuetify.breakpoint.xsOnly}")
            | {{ result.mainValue }}


        v-simple-table.mt-8(v-if="rawData.type === 'cashflow' && result.breakdown")
          tbody
            tr(v-for="item in result.breakdown" :key="item.name")
              td.subtitle-1.font-weight-medium {{ item.name }}
              td.subtitle-1.font-weight-medium.text-right {{ item.amount }}


      v-btn(:color="globalColors.darkTeal" text style="position: absolute; bottom: 10px;" @click="startOver()") 
        | start over
    
</template>

<script>
import { neededCapital, resultCashflow } from "../services/calculators"
import { currency, scrollingOptions } from "../services/general"

export default {
  data() {
    return {
      showResults: false,
      result: null,
    }
  },
  computed: {
    boxSize() {
      return this.$vuetify.breakpoint.xsOnly? 300 : 400
    }
  },
  mounted() {
    this.$root.$on("calculateCashflow", this.calculate)
  },
  methods: {
    calculate(obj) {
      this.result = this.formatResult(obj)
      this.rawData = {...obj}
      this.showResults = true
      this.$vuetify.goTo("#res", scrollingOptions(0))
    },

    moneyFormat(sum) {
      return currency(sum)
    },

    clearResults() {
      this.showResults = false
      this.rawData = null
      this.result = null
    },

    startOver() {
      this.clearResults()
      this.$root.$emit("startOver")
    },

    formatResult(result) {
      let obj = {
        header: null,
        mainValue: null
      }
      if (result.type === "capital") {
        obj.header = "Needed capital",
        obj.mainValue = currency(neededCapital(result))
      }
      if (result.type === "cashflow") {
        let res = resultCashflow(result)
        obj.header = !result.durationUnit? "Yearly earnings" : "Earnings for " + result.duration + " " + result.durationUnit
        obj.mainValue = !result.durationUnit? currency(res.yearly) : currency(res.total)
        obj["breakdown"] = [
          {name: "Monthly earnings", amount: currency(res.monthly)}
        ]
        if (result.durationUnit) {
          obj.breakdown.push({name: "Annual earnings", amount: currency(res.yearly)})
        } else {
          obj.breakdown.push({name: "Weekly earnings", amount: currency(res.weekly)})
        }
      }
      return obj
    }
  }
}
</script>

<style scoped>
.py-custom {
  padding-top: 65px;
  padding-bottom: 95px;
}
</style>