<template lang="pug">
div
  v-slide-y-reverse-transition
    v-hover(v-slot:default="{hover}")
      .text-center
        v-btn(
          v-if="rules.length && !showResults"
          x-large 
          :elevation="hover || $vuetify.breakpoint.xsOnly? 6 : 21" 
          width=260 
          dark 
          :color="globalColors.yellow"
          @click="calculate()"
          ) calculate

  v-slide-y-reverse-transition
    v-card.mx-auto.elevation-22(:width="boxSize" :height="boxSize" v-if="showResults")
      v-app-bar.mb-12(collapse dense width=140 dark :color="globalColors.darkBlue")
        v-menu(transition="slide-y-transition")
          template(v-slot:activator="{on}")
            v-btn(text small v-on="on")
              | {{ timeUnit }}
              v-icon.ml-2 mdi-menu-down
          v-list
            v-list-item.text-capitalize(v-for="unit in timeUnits" @click="changeTimeUnit(unit)") {{ unit }}  
      div.mx-auto(style="width: fit-content; width: -moz-fit-content; width: -webkit-fit-content;")
        .caption.mb-3 Needed gross {{ timeUnit }} salary
        .display-2.font-weight-medium CAD
        .display-3.font-weight-medium {{ moneyFormat(adjustedResult) }}

      v-btn(:color="globalColors.darkBlue" text style="position: absolute; bottom: 10px;" @click="startOver()") 
        | start over
      v-dialog(max-width=450 v-model="methodologyDialogOpen")
        template(v-slot:activator="{on}")
          v-btn(v-on="on" icon :color="globalColors.darkBlue" text style="position: absolute; top: 0; right: 5px;") 
            v-icon mdi-information
        v-card
          v-card-text.py-6.subtitle-1 This calculation has been based on the current year's tax brackets, as found in 
            a(href="https://www.taxtips.ca/marginaltaxrates.htm" target="_blank") TaxTips.ca
            | . It does not take into account any deductions or contributions that might reduce the taxable amount. If you have any feedback or feature request, 
            a(href="https://koverdd.com/contact" target="_blank") contact us
            | .
          v-divider
          v-card-actions
            v-btn(block text @click="methodologyDialogOpen = false") Close
    
</template>

<script>
import { estimateGross, neededNet } from "../services/calculators"
import { currency } from "../services/general"

export default {
  props: ["rules", "state"],
  data() {
    return {
      showResults: false,
      timeUnit: "yearly",
      // timeUnits: ["hourly", "weekly", "monthly", "yearly"],
      timeUnits: ["monthly", "yearly"],
      result: null,
      methodologyDialogOpen: false
    }
  },
  computed: {
    boxSize() {
      return this.$vuetify.breakpoint.xsOnly? 300 : 360
    },
    adjustedResult() {
      if (this.timeUnit === "monthly") { return Math.trunc(this.result/12) }
      else if (this.timeUnit === "yearly") { return this.result }
      else return 0
    }
  },
  watch: {
    rules: function() { this.clearResults() },
    state: function() { if (this.showResults) {this.calculate()} }
  },
  mounted() {
    this.$root.$on("updateState", this.calculate)
  },
  methods: {
    calculate() {
      this.$root.$emit("hideRules")
      this.result = estimateGross(neededNet(this.rules), this.state)
      this.showResults = true
    },

    changeTimeUnit(val) {
      this.timeUnit = val
    },

    moneyFormat(sum) {
      return currency(sum)
    },

    clearResults() {
      this.showResults = false
      this.result = null,
      this.timeUnit = "yearly"
    },

    startOver() {
      this.clearResults()
      this.$root.$emit("startOver")
    }
  }
}
</script>