<template lang="pug">
  v-expansion-panels(v-model="rulesExpand")
    v-expansion-panel
      v-expansion-panel-header 
        .title Conditions ({{ rules.length }}/5)
      v-expansion-panel-content
        .subtitle-1 Enter conditions to be satisfied.
        .caption (Ex. Rent $1,000/month or Saving 15%/month)
        RuleForm(@newRule="addRule")
        
        v-divider.mt-3(v-if="rules.length")
        v-list(:style="listItemMaxWidth")
          v-slide-y-transition(group)
            v-list-item.px-0(v-for="(rule, i) in rules" :key="i") 
              v-list-item-content
                v-list-item-title.text-color(:class="{'title': $vuetify.breakpoint.smAndUp, 'subtitle-2': $vuetify.breakpoint.xsOnly}") 
                  | {{ buildSentence(rule) }}
                v-list-item-subtitle.text-capitalize {{ rule.name }}
              v-list-item-action 
                v-btn(color="error" icon small @click="removeRule(rule)")
                  v-icon mdi-delete

    v-snackbar.mt-2(v-model="showSnackbar" bottom right color="error")
      v-icon.mr-2(dark) mdi-information
      span.font-weight-bold.subtitle-1.text-left
        | You cannot add more than 5 rules

</template>

<script>
import RuleForm from "../components/RuleForm"
import { currency } from "../services/general"

export default {
  components: {
    RuleForm
  },
  data() {
    return {
      rulesExpand: 0,
      showSnackbar: false,
      maxRules: 5,
      rules: []
    }
  },
  mounted() {
    this.$root.$on("hideRules", () => this.rulesExpand = undefined)
    this.$root.$on("startOver", this.startOver)
  },
  computed: {
    listItemMaxWidth() {
      let base = "width: "
      let cond = this.$vuetify.breakpoint.xsOnly? "calc(100vw - 72px)" : "402px"
      return base + cond + ";"
    }
  },
  watch: {
    rules: function() { this.$emit("rulesChanged", this.rules) }
  },
  methods: {
    // data is an object with keys [name, nbr, type, frequency]
    
    buildSentence(data) {
      let amount = data.type === "amount"? currency(data.nbr) : data.nbr + "%"
      return `${amount}/${data.frequency}`
    },

    addRule(data) {
      if (this.rules.length < this.maxRules) { this.rules.push(data) }
      else { this.showSnackbar = true }
    },

    removeRule(rule) {
      let indexFound = this.rules.findIndex(x => x.name === rule.name && x.nbr === rule.nbr)
      if (indexFound >= 0) { this.rules.splice(indexFound, 1) }
    },

    startOver() {
      this.rules = []
      setTimeout(() => {this.rulesExpand = 0}, 400)
    }
  }
}
</script>

<style scoped>
.text-color {
  color: #293462;
}
</style>