<template lang="pug">
  v-dialog(v-model="isDialogOpen" max-width=450 :fullscreen="$vuetify.breakpoint.xsOnly" :tile="$vuetify.breakpoint.xsOnly")
    template(v-slot:activator="{on}")
      v-btn(block :color="globalColors.darkPurple" large dark v-on="on") Add
    
    v-card
      v-card-text
        v-form(ref='ruleForm')
          .text-center.my-6
            v-btn.d-inline-block(
              :text="frequency === 'year'"
              :dark="frequency === 'month'"
              :depressed="frequency === 'month'"
              :color="frequency === 'month'? globalColors.darkTeal : 'grey'"
              @click="frequency = 'month'"
              ) monthly
            v-btn.d-inline-block(
              :text="frequency === 'month'"
              :dark="frequency === 'year'"
              :depressed="frequency === 'year'"
              :color="frequency === 'year'? globalColors.darkTeal : 'grey'"
              @click="frequency = 'year'"
              ) yearly
          v-text-field(
            :color="globalColors.darkTeal" 
            ref="name" 
            v-model="name"
            :rules="[validations.required]" 
            label="Name" 
            placeholder="Ex. Savings, rent, vacation, ..."
            required
            )
          v-text-field.mt-3(
            v-if="type === 'amount'"
            :append-icon="typeIcon" 
            :color="globalColors.darkTeal" 
            v-model="nbr" 
            :rules="[validations.required]" 
            label='Value' 
            placeholder="Ex. $670"
            type="number"
            required
            )
          v-text-field.mt-3(
            v-if="type === 'percentage'"
            :append-icon="typeIcon" 
            :color="globalColors.darkTeal" 
            v-model="nbr" 
            :rules="[validations.required, validations.validPercentage]" 
            label='Value' 
            placeholder="Ex. 10%"
            type="number"
            required
            )
          
        .mt-3 Value type
        v-radio-group.mt-0(v-model="type" row)  
          v-radio(label="Amount" value="amount" :color="globalColors.darkTeal")
          v-radio(label="Percentage" value="percentage" :color="globalColors.darkTeal")
      
      v-divider.mt-10
      v-card-actions
        v-btn(text large @click="isDialogOpen = false") Cancel
        v-spacer
        v-btn(large :color="globalColors.darkTeal" text @click="add()") add

</template>

<script>
  export default {
    data: () => ({
      isDialogOpen: false,
      name: "Condition",
      nbr: null,
      type: "amount",
      frequency: "month",

      validations: {
        required: val => !!val || "This field is required",
        validPercentage: val => (val >= 0 && val <= 100) || "Invalid percentage"
      }
    }),
    computed: {
      form () {
        return {
          name: this.name,
          nbr: parseInt(this.nbr),
          type: this.type,
          frequency: this.frequency
        }
      },

      typeIcon() {
        return this.type === "amount"? "mdi-currency-usd" : "mdi-percent"
      }
    },
    watch: {
      isDialogOpen: function() {
        if (!this.isDialogOpen) {
          this.resetForm()
        }
      }
    },
    methods: {
      resetForm () {
        console.log(this.$refs.ruleForm)
        this.name = "Condition"
        this.nbr = null
        this.$refs.ruleForm.resetValidation()
      },

      add () {
        if (this.$refs.ruleForm && this.$refs.ruleForm.validate()) {
          this.$emit("newRule", this.form)
          this.isDialogOpen = false
        }
      },
    },
  }
</script>