<template lang="pug">
  v-app.custom
    Navbar(
      :current-calculator="currentPage"
      :current-state="currentState"
      @updateState="updateState"
      )
    v-content(:style="'margin-top: ' + mt + 'px; z-index:10;'")
      Main(:state-code="currentState.code.toLowerCase()" :current-calculator="currentPage")
    v-scroll-x-transition
      #rhs.hidden-sm-and-down(:class="decoBgColor")
</template>

<script>
import Main from './views/Main';
import Navbar from './components/Navbar';

export default {
  name: 'App',
  components: {
    Navbar,
    Main,
  },
  data() {
    return {
      currentState: { code: "QC" , full: "Quebec (QC)" }
    }
  },
  computed: {
    mt() {
      // NOTE: maybe leave margin only on mobile?
      return this.$vuetify.breakpoint.xsOnly? this.mobileMarginTop : this.desktopMarginTop
    },
    currentPage() {
      return this.$route.path.slice(1).replace("-calculator", "")
    },
    decoBgColor() {
      if (this.currentPage === "salary") { return "dark-blue-bg" }
      else { return "dark-teal-bg" }
    }
  },
  methods: {
    updateState(val) {
      this.currentState = val
      // this.$root.$emit("updateState", val.code.toLowerCase())
    }
  }
};
</script>

<style>
.custom {
  background-color: #F9F8F6;

  /* Variables */
  --gold-color: #f7be16;
  --green-color: #2A605F;
  --theme-color: var(--gold-color);
  --navbar-desktop-height: 65px;
  --navbar-mobile-height: 48px;
}

#rhs {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50vw;
  height: 100%;
  background-size: 100%;
}
.dark-teal-bg {
  background-image: url("./assets/deco-darkteal-bg.svg");
}
.dark-blue-bg {
  background-image: url("./assets/deco-darkblue-bg.svg");
}
</style>